.pagination_data_post {
    display: inline-flex;
    gap: 20px;
}

.rc-pagination-item-active {
    background-color: rgb(170, 168, 168);
    appearance: none;
    border: 0;
    border-radius: 5px;
    padding: 0 8px;
}

.pagination_post {
    margin-top: 60px;
    font-family: 'New York Extra Large';
    font-size: 16px;
    line-height: 38px;
}

.pagination_button_post {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: black;
    color: #fff;
}