.section_with_photo1 {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    max-width: 640px;
    text-align: center;
    padding-top: 56px;
    position: relative;
}

.photo1 {
    max-width: 304px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text_after_images1 {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    padding: 20px 11px 0px 11px;
}

.second_page_photos1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.atribute1 {
    text-decoration: none;
    color: black;
}

.articles1 {
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: -13px;
}

@media (min-width:855px) {
    .articles1 {
        margin-bottom: 40px;
    }

    .photo1 {
        max-width: 640px;
        flex-wrap: wrap;
        height: 920px;
        gap: 32px;
        justify-content: space-between;
    }

    .atribute1 {
        flex: 1;
        max-width: 304px;
        position: relative;
        height: 338px;
        color: black;
        text-decoration: none;
    }

    .second_page_photos1 {
        margin: 0px;
    }

    .text_after_images1 {
        padding: 20px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 282px;
    }
}