.section_with_photo_home_page {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid black;
    max-width: 640px;
    text-align: center;
    padding-top: 56px;
    position: relative;
}

.pagination_data {
    display: inline-flex;
    gap: 20px;
}

.pagination {
    margin-top: 30px;
    font-family: 'New York Extra Large';
    font-size: 16px;
    line-height: 38px;
}

.pagination_button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: black;
    color: #fff;
}

.photo_home_page {
    max-width: 304px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.text_after_images_home_page {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    padding: 20px 11px 0px 11px;
}

.second_page_photos_home_page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.atribute_home_page {
    text-decoration: none;
    color: black;
}

.articles_home_page {
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: -13px;
}

.decoration {
    height: 280px;
    text-decoration: none;
    color: black;
}

@media (min-width:855px) {
    .articles_home_page {
        margin-bottom: 40px;
    }

    .photo_home_page {
        max-width: 640px;
        gap: 32px;
        justify-content: space-between;
    }

    .atribute_home_page {
        flex: 1;
        max-width: 304px;
        position: relative;
        height: 300px;
        color: black;
        text-decoration: none;
    }

    .second_page_photos_home_page {
        margin: 0px;
    }

    .text_after_images_home_page {
        padding: 20px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 282px;
    }
}